<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="third.css">


    <script src="third.js"></script>

</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/"><img class="logo" src="img/home_img/logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="join">About</a></li>
                <li><a href="seller">Sell</a></li>
                <!-- <li><a href="">Sell</a>

                </li> -->
                <ul>
                    <li>
                        <a href="#">Buy</a>
                        <ul class="sub-menu">
                            <li><a href="/#waste">Normal Buy</a></li>
                            <li><a href="/#spewaste">Special Offer</a></li>
                        </ul>
                    </li>
                </ul>
                <li><a href="appli">Awareness</a></li>
                <li><a href="/#contactuspage">Contact</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </div>
    </nav>

    <div class="first">
        <div class="ifirst">
            <h1>Discover the Uses of <br>
                Plastic Waste </h1>
            <br>
            <h5>
                Explore our collection of videos and images showcasing the innovative uses
                <br>of plastic waste.
            </h5>
        </div>




    </div>
    <div class="sec">

    </div>
    <div class="c-head">
        <div class="c-h-h">Segregated
        </div>
        <div class="c-h-w">Waste</div>

    </div>
    <br><br>
    <br><br>

    <div class="sidemain">
        <div class="sideleft" id="sideleft">
            <h1>Resources</h1>
            <ul id="resource-list">
                <li id="plastic">
                    <h3>Plastic</h3>
                    <ul>
                        <li id="introduction">
                            1. Introduction to plastic
                            <ul>
                                <li id="definition">A. Definition of plastic</li>
                                <li id="origin">B. Origin of plastic</li>
                                <li id="types">C. Types of plastics</li>
                            </ul>
                        </li>
                        <li id="applications">
                            2. Applications of plastic
                            <ul>
                                <li id="packing">A. Packing</li>
                                <li id="construction">B. Building & Construction</li>
                                <li id="automotive">C. Automotive</li>
                                <li id="healthcare">D. Medical and Health care</li>
                                <li id="electronics">E. Electronic devices</li>
                                <li id="recycling">F. Recycling</li>
                                <li id="manufacturing">G. Manufacturing/Consumer products</li>
                            </ul>
                        </li>
                        <li id="waste-management">
                            3. Plastic waste management
                            <ul>
                                <li id="sources">A. Sources of Plastic waste</li>
                                <li id="consequences">B. Consequences of plastic waste</li>
                                <li id="recycling-waste">C. Plastic recycling</li>
                                <li id="alternatives">D. Alternatives to plastic</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sideright" id="info-container">
            <!-- Information about the current resource will be displayed here -->
            <h1>Definition Of Plastics</h1>
            <img src="img/home_img/hero.png" alt="Plastic Image">
            <p>
                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
            </p>
            <h1>Thermosetting Plastic Definition</h1>
            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
            <p>
                A polymer is a type of chemical compound made up of large molecules composed of repeating structural units. These units are typically connected by covalent bonds. Polymers are present in a diverse range of products, including plastics, rubbers, adhesives, and textiles.

                The term "polymer" originates from the Greek words "polus," meaning "many/much," and "meros," meaning "part." The simplest polymers consist of linear chains of monomers, which are individual molecules bonded together in a sequence to form polymer chains. However, more intricate polymers can be created from monomers with multiple functional groups, resulting in branched or cross-linked polymers.

                Polymers can be classified as natural or synthetic. Natural polymers include substances like proteins, nucleic acids, and cellulose. On the other hand, synthetic polymers are derived from petroleum-based monomers such as ethylene and propylene.

                The properties of polymers vary widely based on their molecular structure. For instance, the strength and elasticity of fibers like Kevlar and nylon stem from their long chain-like structure, while the flexibility of rubber arises from its cross-linked structure.
            </p>
            <h1>What is a polymer</h1>
            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
            <p>
                A polymer is a chemical compound consisting of large molecules, made up of repeating structural units; these units are typically connected by covalent bonds. Polymers are found in a wide variety of products, including plastics, rubbers, adhesives, and textiles.

                The term “polymer” comes from the Greek word πολύς (‘polus, meaning ‘many/much’) and μέρος (‘meros’, meaning ‘part’). The simplest polymers are linear chains of monomers; monomers are the individual molecules that bond together in sequence to form polymer chains. However, more complex polymers can be formed from monomers with more than one functional group, forming branched polymers or cross-linked polymers.

                Polymers can be natural or synthetic. Natural polymers include proteins, nucleic acids, and cellulose. Synthetic polymers are made from petroleum-based monomers such as ethylene and propylene.

                Polymers have a wide range of properties that depend on their molecular structure. For example, the strength and elasticity of fibres like Kevlar and nylon come from their long chain-like structure, while the flexibility of rubber comes from its cross-linked structure.
            </p>
        </div>

    </div>
</body>
<script>


document.addEventListener("DOMContentLoaded", function () {
        var sideLeft = document.getElementById("sideleft");
        var infoContainer = document.getElementById("info-container");

        sideLeft.addEventListener("click", function (event) {
            var targetElement = event.target;

            // Check if the clicked element is a list item
            if (targetElement.tagName === "LI") {
                // Get the text content of the clicked item
                var selectedItemContent = targetElement.textContent.trim();

                // Create HTML content with images and videos based on the clicked item
                var contentHTML = "";

                if (selectedItemContent === "A. Definition of plastic") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>Definition Of Plastics</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
                            </p>
                            <h1>Thermosetting Plastic Definition</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                A polymer is a type of chemical compound made up of large molecules composed of repeating structural units. These units are typically connected by covalent bonds. Polymers are present in a diverse range of products, including plastics, rubbers, adhesives, and textiles.

                                The term "polymer" originates from the Greek words "polus," meaning "many/much," and "meros," meaning "part." The simplest polymers consist of linear chains of monomers, which are individual molecules bonded together in a sequence to form polymer chains. However, more intricate polymers can be created from monomers with multiple functional groups, resulting in branched or cross-linked polymers.

                                Polymers can be classified as natural or synthetic. Natural polymers include substances like proteins, nucleic acids, and cellulose. On the other hand, synthetic polymers are derived from petroleum-based monomers such as ethylene and propylene.

                                The properties of polymers vary widely based on their molecular structure. For instance, the strength and elasticity of fibers like Kevlar and nylon stem from their long chain-like structure, while the flexibility of rubber arises from its cross-linked structure.
                            </p>
                            <h1>What is a polymer</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                A polymer is a chemical compound consisting of large molecules, made up of repeating structural units; these units are typically connected by covalent bonds. Polymers are found in a wide variety of products, including plastics, rubbers, adhesives, and textiles.

                                The term “polymer” comes from the Greek word πολύς (‘polus, meaning ‘many/much’) and μέρος (‘meros’, meaning ‘part’). The simplest polymers are linear chains of monomers; monomers are the individual molecules that bond together in sequence to form polymer chains. However, more complex polymers can be formed from monomers with more than one functional group, forming branched polymers or cross-linked polymers.

                                Polymers can be natural or synthetic. Natural polymers include proteins, nucleic acids, and cellulose. Synthetic polymers are made from petroleum-based monomers such as ethylene and propylene.

                                Polymers have a wide range of properties that depend on their molecular structure. For example, the strength and elasticity of fibres like Kevlar and nylon come from their long chain-like structure, while the flexibility of rubber comes from its cross-linked structure.
                            </p>
                        </div>
                        `;
                } else if (selectedItemContent === "B. Origin of plastic") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>" +
                        "<p>Some information about " + selectedItemContent + ".</p>" +
                        "<video width='320' height='240' controls>" +
                        "<source src='path/to/origin_video.mp4' type='video/mp4'>" +
                        "Your browser does not support the video tag." +
                        "</video>";
                } else if (selectedItemContent === "A. Sources of Plastic waste") {
                     contentHTML =
                    //   "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>A. Sources of Plastic waste</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
                            </p>
                            <h1>Manufacturing</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                The manufacturing process of plastic products generates a significant amount of plastic waste. During the production of plastic goods, excess plastic is often produced that cannot be used, resulting in waste. Additionally, plastic products that do not meet quality standards or are deemed defective are often discarded, adding to the plastic waste problem.
                            </p>
                            <h1>Single-Use Items</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Single-use plastic items such as straws, cutlery, and coffee cups are a significant source of plastic waste. These items are designed to be used once and then discarded, but they often end up in landfills or the ocean where they can take hundreds of years to break down. Alternatives such as reusable items and biodegradable materials are being explored as a way to reduce the amount of plastic waste generated by single-use items.
                                <h3>
                                Textiles
                                </h3>
                                <p>
                                Synthetic textiles such as polyester and nylon are made from plastic and contribute to plastic waste. These materials are often used to make clothing and other textiles, which can end up in landfills or the ocean when they are no longer wanted. As the fashion industry continues to grow, the amount of plastic waste generated by textiles is also increasing.
                                </p>
                                <h3>
                                Construction
                                </h3>
                                <p>
                                The construction industry is a significant source of plastic waste. Plastic pipes, wiring, and insulation are commonly used in construction, and the disposal of excess or damaged materials can contribute to plastic waste. Additionally, the demolition of buildings can also result in large amounts of plastic waste.
                                <p>
                                <h3>
                                Conclusion
                                </h3>
                                <p>
                                Plastic waste is a complex problem that requires a multifaceted solution. By understanding the sources of plastic waste, we can begin to take steps to reduce it. This may involve reducing the use of single-use items, promoting recycling and the use of biodegradable materials, and encouraging industries to find ways to reduce plastic waste at the source. It is important that we take action to address the plastic waste problem in order to protect our environment and the health of our planet.
                                </p>
                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "B. Consequences of plastic waste") {
                    contentHTML = 
                    // "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>B. Consequences of plastic waste</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic waste is a significant environmental problem worldwide, with dire consequences for both human health and the planet’s ecosystem. The effects of plastic waste are numerous, and they continue to threaten our environment.

Plastic waste pollution is a serious issue that affects the entire planet. The following sections will outline the different ways in which plastic waste impacts the environment, wildlife, and human health.
                            </p>
                            <h1>Environmental Impacts Of Plastic Waste</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic waste is harmful to the environment in several ways. Firstly, plastic waste does not decompose naturally, and it can take hundreds of years to break down, which means that plastic waste accumulates in the environment. This accumulation of plastic waste leads to the following environmental issues:

                                <h4>Soil contamination:</h4> Plastic waste can contaminate soil, making it unsuitable for agriculture, resulting in a loss of fertile land.
                                <h4>Air pollution:</h4> Burning plastic waste releases toxic fumes into the atmosphere, which can have adverse effects on human health and the environment.
                                <h4>Water pollution:</h4> Plastic waste dumped into rivers and oceans pose a significant threat to marine life, causing entanglement, ingestion, and habitat destruction.
                            </p>
                            <h1>Wildlife Impacts Of Plastic Waste</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic waste can harm wildlife in many ways. Wildlife is increasingly exposed to plastic waste, leading to the following issues:

                                <h4>Ingestion:</h4> Wildlife, including marine life, can ingest plastic waste, leading to digestive problems, starvation, and even death.
                                <h4>Habitat destruction:</h4> Plastic waste often accumulates in the natural habitats of wildlife, causing habitat destruction and interfering with the food chain.
                                <h4>Entanglement:</h4> Wildlife, including marine animals, can become entangled in plastic waste, causing physical injuries and even death.
                            </p>
                            <h3>
                            Conclusion
                            </h3>
                            <p>
                                The effects of plastic waste are clear, and they continue to pose a significant threat to our environment, wildlife, and human health. We must take action to reduce plastic waste, including recycling, reducing the use of single-use plastics, and proper disposal of plastic waste. The future of our planet depends on how we handle plastic waste. Let us make a conscious effort to reduce our plastic waste footprint and take steps towards a sustainable future.
                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "C. Plastic recycling") {
                    contentHTML = 
                    // "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>C. Plastic Recycling</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic pollution is one of the biggest environmental concerns of our time. It is estimated that over 8 million tonnes of plastic waste end up in our oceans every year, causing immense harm to marine life and ecosystems. In order to tackle this crisis, one of the key solutions is plastic recycling. In this article, we will take a closer look at plastic recycling and its benefits.
                            </p>
                            <h1>What Is Plastic Recycling?</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic recycling is the process of recovering waste plastic and transforming it into new products. This process involves collecting, sorting, cleaning and processing the plastic waste to create a raw material that can be used for manufacturing new products. The aim of plastic recycling is to reduce the amount of plastic waste that ends up in landfills and the environment, and to conserve natural resources by using recycled plastic as a substitute for virgin materials.
                            </p>
                            <h1>Benefits Of Plastic Recycling</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic recycling offers a range of environmental, economic and social benefits. Firstly, it reduces the amount of plastic waste that ends up in landfills, which can take hundreds of years to decompose. By recycling plastic, we can extend the life of plastic products and reduce the need for new plastic production, which saves energy and resources.

                                Secondly, recycling plastic can also help to reduce greenhouse gas emissions. The production of new plastic products from virgin materials requires a significant amount of energy and emits large amounts of greenhouse gases. By using recycled plastic as a substitute for virgin materials, we can reduce the carbon footprint of plastic production.

                                Thirdly, plastic recycling also creates jobs and contributes to the economy. The recycling industry employs thousands of people and generates revenue through the sale of recycled plastic.


                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "D. Alternatives to plastic") {
                    contentHTML =
                    //  "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>D. Alternatives to plastic</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic is a ubiquitous material that has revolutionized modern life in many ways, from packaging to construction. However, the downside of its convenience and affordability is that it has become a major environmental problem. According to a report by the World Economic Forum, there could be more plastic than fish in the ocean by 2050 if we continue to produce and dispose of plastic at the current rate. The good news is that there are many plastic alternatives available that are sustainable, eco-friendly, and can help us reduce our plastic consumption.

In this article, we will explore some of the most popular plastic alternatives and their benefits.
                            </p>
                            <h1>Glass</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Glass is one of the oldest and most widely used materials in the world. It is made from natural raw materials such as sand, soda ash, and limestone, which makes it a sustainable and eco-friendly choice. Unlike plastic, glass can be recycled infinitely without losing its quality, and it does not contain harmful chemicals such as BPA.

                                Glass is also non-reactive, which means it does not leach chemicals into the food or drink it contains. This makes it an ideal alternative for food and beverage packaging, such as bottles, jars, and containers.

                            </p>
                            <h1>Metal</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Metal is another popular alternative to plastic. It is durable, long-lasting, and can be recycled infinitely without losing its quality. Metal can be used for a variety of products, from kitchenware to building materials.

                                Aluminum, for example, is a lightweight and recyclable metal that is commonly used for beverage cans. It takes 95% less energy to recycle aluminum than to produce it from raw materials, making it a more sustainable choice.
                            </p>

                            <h1>Bioplastic</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Bioplastics are a type of plastic made from renewable resources such as corn starch, sugarcane, or potato starch. They are designed to biodegrade more quickly than traditional plastics, reducing their environmental impact.

                                However, bioplastics also have some drawbacks. For example, some bioplastics can only be composted in industrial composting facilities, which are not available in all areas. In addition, some bioplastics still contain harmful chemicals and may not break down completely in the environment.

                            </p>

                            <h3>
                            Conclusion
                            </h3>
                            <p>
                                There are many plastic alternatives available that are sustainable, eco-friendly, and can help us reduce our plastic consumption. From glass and metal to paper, bioplastics, and natural fibers, there are many options to choose from depending on your needs and preferences. By choosing plastic alternatives, we can all play a part in reducing our environmental impact and creating a more sustainable future.
                            </p>

                        </div>
                        `;
                }else if (selectedItemContent === "C. Types of plastics") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>";

                    // Add data for each card (image, type name, and info)
                    var cardsData = [
                        { imagePath: 'img/home_img/plas/a1.jpg', typeName: 'PET', info: 'Information about Type 1' },
                        { imagePath: 'img/home_img/plas/a2.jpg', typeName: 'LDPE', info: 'Information about Type 2' },
                        { imagePath: 'img/home_img/plas/a3.jpg', typeName: 'HDPE', info: 'Information about Type 3' },
                        { imagePath: 'img/home_img/plas/a4.jpg', typeName: 'PVC', info: 'Information about Type 4' },
                        { imagePath: 'img/home_img/plas/a4.jpg', typeName: 'PP', info: 'Information about Type 5' },
                        { imagePath: 'img/home_img/plas/a6.jpg', typeName: 'PS', info: 'Information about Type 6' },
                        { imagePath: 'img/home_img/plas/a7.jpg', typeName: 'PMP', info: 'Information about Type 7' },
                        { imagePath: 'img/home_img/plas/a8.jpg', typeName: 'TPE', info: 'Information about Type 8' },
                        { imagePath: 'img/home_img/plas/a9.jpg', typeName: 'PPO', info: 'Information about Type 9' },
                        { imagePath: 'img/home_img/plas/a10.jpg', typeName: 'POM', info: 'Information about Type 10' },
                        { imagePath: 'img/home_img/plas/eco.jpg', typeName: 'PVOH', info: 'Information about Type 11' },
                        { imagePath: 'img/home_img/plas/a2.jpg', typeName: 'ASA', info: 'Information about Type 12' },

                        // Add more cards as needed...
                    ];
                    contentHTML += "<div class='card-container'>";

                    cardsData.forEach(function (card) {
                        contentHTML += "<div class='card'>" +
                            "<img src='" + card.imagePath + "' alt=''>" +
                            "<h3>" + card.typeName + "</h3>" +
                            "<p class='inftag'>" + card.info + "</p>" +
                            "</div>";
                    });

                    contentHTML += "</div>";
                }else if (selectedItemContent === "A. Packing") {
                    contentHTML = "<h2> Packing</h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about  selectedItemContent.</p>
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Plastic packaging plays a crucial role in contemporary living, serving diverse purposes such as food preservation, electronics protection, and more. Its widespread use has made it an integral part of our daily routines. Nevertheless, the surge in consumerism has led to a concerning increase in the production and disposal of plastic packaging, posing a substantial environmental challenge.</p>
                     
                        <h2> Processing of Plastic Packaging Recyclabling </h2>
                        <p>Plastic packaging recycling involves collecting, processing, and reusing plastic packaging waste. The process starts with the collection of plastic packaging waste from homes, businesses, and public spaces. This waste is then transported to recycling facilities where it is sorted, cleaned, and processed. The cleaned and sorted plastic packaging waste is then transformed into a new product, which can be used to make new plastic products or other materials.</p>
                        </div>`;
                }

                else if (selectedItemContent === "B. Building & Construction") {
                    contentHTML = "<h2> Buliding & Construction</h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about Building And Construction.</p>
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Construction projects heavily rely on the use of plastics, from piping systems to roofing materials, due to their durability, flexibility and affordability. However, the downside of using plastics in construction is that it contributes to the growing problem of plastic waste. In this article, we will delve into the use of plastics in construction, their environmental impact, and what can be done to mitigate the problem.</p>
                    
                        <h2> Plastic Use In Construction </h2>
                        <p>The use of plastics in construction dates back to the mid-20th century when PVC (polyvinyl chloride) was introduced as an alternative to traditional building materials. Today, plastics are used in a wide range of construction applications</p>
                        </div>
                        `;
                }
                else if (selectedItemContent === "C. Automotive") {
                    contentHTML = "<h2> Automative</h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about Automative.</p>"
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>In recent years, the automotive industry has turned to plastic components as a means of reducing weight and increasing fuel efficiency. However, this shift towards plastic has also raised concerns about waste and environmental impact. In this article, we will explore the use of plastics in the automotive industry and how it can be managed to reduce waste.</p>
                    
                        <h2> Reducing Waste </h2>
                        <p>The use of plastic in the automotive industry has raised concerns about waste and environmental impact. To address this issue, manufacturers have started using recycled plastics, which can be sourced from a variety of waste streams, including post-consumer waste and end-of-life vehicles. Recycled plastic has the same properties as virgin plastic, but its production requires less energy and produces less waste.</p>
                        </div>`;
                }
                else if (selectedItemContent === "D. Medical and Health care") {
                    contentHTML = "<h2> Medical</h2>" +
                     `
                     <div class="sideright">
                    <p>Some information about Building And Construction.</p>
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Plastics are ubiquitous in the healthcare industry, playing a crucial role in patient care and safety. From single-use medical devices to packaging materials, medical plastics provide numerous benefits that cannot be easily replaced. However, these benefits come with a significant environmental cost. In this article, we will explore the role of medical plastics, their benefits, and the environmental impact of their disposal.</p>
               
                        <h2> The Role Of Medical Plastics </h2>
                        <p>Medical plastics have become indispensable in modern healthcare, serving crucial roles in various applications. These include the fabrication of medical devices such as disposable syringes, catheters, and surgical gloves, where plastic's durability, sterility, and user-friendly qualities are paramount. Additionally, plastic is widely employed in packaging materials, providing an effective barrier against contaminants to preserve the quality of medical products.</p>
                        </div>`;
               
                }

                else if (selectedItemContent === "E. Electronic devices") {
                    contentHTML = "<h2> Electronics Devices</h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about Electronics</p> 
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Electrical plastics are an essential component of many electronic devices that we use every day. From televisions and smartphones to laptops and kitchen appliances, electrical plastics play a crucial role in the functionality of these devices. However, as we continue to rely on electronic devices more and more, the disposal of electrical plastics has become a major environmental concern. In this article, we will explore the impact of electrical plastics on the environment and what can be done to address this issue.</p>

                        <h2> What Are Electrical Plastics? </h2>
                        <p>Electrical plastics are a type of polymer material that possess specific electrical properties such as insulation, resistance to heat and electricity, and high dielectric strength. These properties make them suitable for a wide range of applications in the electrical and electronics industry.</p>
                        </div>`;
                }

                else if (selectedItemContent === "F. Recycling") {
                    contentHTML = "<h2> Recycling </h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about Manufacturing/Consumer products.</p>
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Plastic is an essential material in modern-day manufacturing, and it is widely used in various industries such as food and beverage, consumer products, packaging, and construction. The manufacturing of plastics involves several processes, including the extraction of raw materials, polymerisation, and forming.</p>
                        
                        <h2> Polymerisation </h2>
                        <p>Polymerisation is the process of chemically bonding molecules together to form long chains, known as polymers. This process involves the use of heat and pressure to melt and mix the raw materials, which are then fed into a reactor. Inside the reactor, a catalyst is added to initiate the polymerisation process, which causes the monomers to link together and form polymers.</p>
                        </div>
                        `;
                }else if (selectedItemContent === "G. Manufacturing/Consumer products") {
                    contentHTML = "<h2> Manufacturing/Consumer Products </h2>" +
                    `
                    <div class="sideright">
                        <p>Some information about Manufacturing/Consumer products.</p>
                        <img src='img/home_img/hero.png' alt='Definition Image'>
                        <p>Plastic is an essential material in modern-day manufacturing, and it is widely used in various industries such as food and beverage, consumer products, packaging, and construction. The manufacturing of plastics involves several processes, including the extraction of raw materials, polymerisation, and forming.</p>
                        
                        <h2> Polymerisation </h2>
                        <p>Polymerisation is the process of chemically bonding molecules together to form long chains, known as polymers. This process involves the use of heat and pressure to melt and mix the raw materials, which are then fed into a reactor. Inside the reactor, a catalyst is added to initiate the polymerisation process, which causes the monomers to link together and form polymers.</p>
                        </div>
                        `;
                }
                // Add more conditions for other list items as needed...

                // Display the dynamically generated content in the .sideright div
                infoContainer.innerHTML = contentHTML;
            }
        });
    });


</script>







</html>