<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="third.css">


    <script src="third.js"></script>

</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/"><img class="logo" src="img/home_img/logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="join">About</a></li>
                <li><a href="seller">Sell</a></li>
                <!-- <li><a href="">Sell</a>

                </li> -->
                <ul>
                    <li>
                        <a href="#">Buy</a>
                        <ul class="sub-menu">
                            <li><a href="/#waste">Normal Buy</a></li>
                            <li><a href="/#spewaste">Special Offer</a></li>
                        </ul>
                    </li>
                </ul>
                <li><a href="appli">Awareness</a></li>
                <li><a href="/#contactuspage">Contact</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </div>
    </nav>

    <div class="first">
        <div class="ifirst">
            <h1>Discover the Uses of <br>
                Plastic Waste </h1>
            <br>
            <h5>
                Explore our collection of videos and images showcasing the innovative uses
                <br>of plastic waste.
            </h5>
        </div>




    </div>
    <div class="sec">

    </div>
    <div class="c-head">
        <div class="c-h-h">Segregated
        </div>
        <div class="c-h-w">Waste</div>

    </div>
    <br><br>
    <br><br>

    <div class="sidemain">
        <div class="sideleft" id="sideleft">
            <h1>Resources</h1>
            <ul id="resource-list">
                <li id="plastic">
                    <h3>Plastic</h3>
                    <ul>
                        <li id="introduction">
                            1. Introduction to plastic
                            <ul>
                                <li id="definition">A. Definition of plastic</li>
                                <li id="origin">B. Origin of plastic</li>
                                <li id="types">C. Types of plastics</li>
                            </ul>
                        </li>
                        <li id="applications">
                            2. Applications of plastic
                            <ul>
                                <li id="packing">A. Packing</li>
                                <li id="construction">B. Building & Construction</li>
                                <li id="automotive">C. Automotive</li>
                                <li id="healthcare">D. Medical and Health care</li>
                                <li id="electronics">E. Electronic devices</li>
                                <li id="recycling">F. Recycling</li>
                                <li id="manufacturing">G. Manufacturing/Consumer products</li>
                            </ul>
                        </li>
                        <li id="waste-management">
                            3. Plastic waste management
                            <ul>
                                <li id="sources">A. Sources of Plastic waste</li>
                                <li id="consequences">B. Consequences of plastic waste</li>
                                <li id="recycling-waste">C. Plastic recycling</li>
                                <li id="alternatives">D. Alternatives to plastic</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sideright" id="info-container">
            <!-- Information about the current resource will be displayed here -->
            <h1>Definition Of Plastics</h1>
            <img src="img/home_img/hero.png" alt="Plastic Image">
            <p>
                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
            </p>
            <h1>Thermosetting Plastic Definition</h1>
            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
            <p>
                A polymer is a type of chemical compound made up of large molecules composed of repeating structural units. These units are typically connected by covalent bonds. Polymers are present in a diverse range of products, including plastics, rubbers, adhesives, and textiles.

                The term "polymer" originates from the Greek words "polus," meaning "many/much," and "meros," meaning "part." The simplest polymers consist of linear chains of monomers, which are individual molecules bonded together in a sequence to form polymer chains. However, more intricate polymers can be created from monomers with multiple functional groups, resulting in branched or cross-linked polymers.

                Polymers can be classified as natural or synthetic. Natural polymers include substances like proteins, nucleic acids, and cellulose. On the other hand, synthetic polymers are derived from petroleum-based monomers such as ethylene and propylene.

                The properties of polymers vary widely based on their molecular structure. For instance, the strength and elasticity of fibers like Kevlar and nylon stem from their long chain-like structure, while the flexibility of rubber arises from its cross-linked structure.
            </p>
            <h1>What is a polymer</h1>
            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
            <p>
                A polymer is a chemical compound consisting of large molecules, made up of repeating structural units; these units are typically connected by covalent bonds. Polymers are found in a wide variety of products, including plastics, rubbers, adhesives, and textiles.

                The term “polymer” comes from the Greek word πολύς (‘polus, meaning ‘many/much’) and μέρος (‘meros’, meaning ‘part’). The simplest polymers are linear chains of monomers; monomers are the individual molecules that bond together in sequence to form polymer chains. However, more complex polymers can be formed from monomers with more than one functional group, forming branched polymers or cross-linked polymers.

                Polymers can be natural or synthetic. Natural polymers include proteins, nucleic acids, and cellulose. Synthetic polymers are made from petroleum-based monomers such as ethylene and propylene.

                Polymers have a wide range of properties that depend on their molecular structure. For example, the strength and elasticity of fibres like Kevlar and nylon come from their long chain-like structure, while the flexibility of rubber comes from its cross-linked structure.
            </p>
        </div>

    </div>
</body>
<script>


document.addEventListener("DOMContentLoaded", function () {
        var sideLeft = document.getElementById("sideleft");
        var infoContainer = document.getElementById("info-container");

        sideLeft.addEventListener("click", function (event) {
            var targetElement = event.target;

            // Check if the clicked element is a list item
            if (targetElement.tagName === "LI") {
                // Get the text content of the clicked item
                var selectedItemContent = targetElement.textContent.trim();

                // Create HTML content with images and videos based on the clicked item
                var contentHTML = "";

                if (selectedItemContent === "A. Definition of plastic") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>Definition Of Plastics</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
                            </p>
                            <h1>Thermosetting Plastic Definition</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                A polymer is a type of chemical compound made up of large molecules composed of repeating structural units. These units are typically connected by covalent bonds. Polymers are present in a diverse range of products, including plastics, rubbers, adhesives, and textiles.

                                The term "polymer" originates from the Greek words "polus," meaning "many/much," and "meros," meaning "part." The simplest polymers consist of linear chains of monomers, which are individual molecules bonded together in a sequence to form polymer chains. However, more intricate polymers can be created from monomers with multiple functional groups, resulting in branched or cross-linked polymers.

                                Polymers can be classified as natural or synthetic. Natural polymers include substances like proteins, nucleic acids, and cellulose. On the other hand, synthetic polymers are derived from petroleum-based monomers such as ethylene and propylene.

                                The properties of polymers vary widely based on their molecular structure. For instance, the strength and elasticity of fibers like Kevlar and nylon stem from their long chain-like structure, while the flexibility of rubber arises from its cross-linked structure.
                            </p>
                            <h1>What is a polymer</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                A polymer is a chemical compound consisting of large molecules, made up of repeating structural units; these units are typically connected by covalent bonds. Polymers are found in a wide variety of products, including plastics, rubbers, adhesives, and textiles.

                                The term “polymer” comes from the Greek word πολύς (‘polus, meaning ‘many/much’) and μέρος (‘meros’, meaning ‘part’). The simplest polymers are linear chains of monomers; monomers are the individual molecules that bond together in sequence to form polymer chains. However, more complex polymers can be formed from monomers with more than one functional group, forming branched polymers or cross-linked polymers.

                                Polymers can be natural or synthetic. Natural polymers include proteins, nucleic acids, and cellulose. Synthetic polymers are made from petroleum-based monomers such as ethylene and propylene.

                                Polymers have a wide range of properties that depend on their molecular structure. For example, the strength and elasticity of fibres like Kevlar and nylon come from their long chain-like structure, while the flexibility of rubber comes from its cross-linked structure.
                            </p>
                        </div>
                        `;
                } else if (selectedItemContent === "B. Origin of plastic") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>" +
                        "<p>Some information about " + selectedItemContent + ".</p>" +
                        "<video width='320' height='240' controls>" +
                        "<source src='path/to/origin_video.mp4' type='video/mp4'>" +
                        "Your browser does not support the video tag." +
                        "</video>";
                } else if (selectedItemContent === "A. Sources of Plastic waste") {
                     contentHTML =
                    //   "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>A. Sources of Plastic waste</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                The term 'plastic' covers a broad range of synthetic or semi-synthetic materials made through processes like polymerization or condensation reactions. These materials can be shaped or molded into various objects, films, coatings, adhesives, and more. The word 'plastic' comes from the Greek word 'plastikos', which means 'capable of being molded or shaped', and has been used to describe these materials since 1884.

                                Today, 'plastic' can refer to a wide array of materials, including synthetic polymers like polyethylene, PVC, or nylon. It can also encompass synthetic resins formed by polymerizing smaller molecules like phenols, aldehydes, or amines, which are often used in molding and casting processes.
                            </p>
                            <h1>Manufacturing</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                The manufacturing process of plastic products generates a significant amount of plastic waste. During the production of plastic goods, excess plastic is often produced that cannot be used, resulting in waste. Additionally, plastic products that do not meet quality standards or are deemed defective are often discarded, adding to the plastic waste problem.
                            </p>
                            <h1>Single-Use Items</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Single-use plastic items such as straws, cutlery, and coffee cups are a significant source of plastic waste. These items are designed to be used once and then discarded, but they often end up in landfills or the ocean where they can take hundreds of years to break down. Alternatives such as reusable items and biodegradable materials are being explored as a way to reduce the amount of plastic waste generated by single-use items.
                                <h3>
                                Textiles
                                </h3>
                                <p>
                                Synthetic textiles such as polyester and nylon are made from plastic and contribute to plastic waste. These materials are often used to make clothing and other textiles, which can end up in landfills or the ocean when they are no longer wanted. As the fashion industry continues to grow, the amount of plastic waste generated by textiles is also increasing.
                                </p>
                                <h3>
                                Construction
                                </h3>
                                <p>
                                The construction industry is a significant source of plastic waste. Plastic pipes, wiring, and insulation are commonly used in construction, and the disposal of excess or damaged materials can contribute to plastic waste. Additionally, the demolition of buildings can also result in large amounts of plastic waste.
                                <p>
                                <h3>
                                Conclusion
                                </h3>
                                <p>
                                Plastic waste is a complex problem that requires a multifaceted solution. By understanding the sources of plastic waste, we can begin to take steps to reduce it. This may involve reducing the use of single-use items, promoting recycling and the use of biodegradable materials, and encouraging industries to find ways to reduce plastic waste at the source. It is important that we take action to address the plastic waste problem in order to protect our environment and the health of our planet.
                                </p>
                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "B. Consequences of plastic waste") {
                    contentHTML = 
                    // "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>B. Consequences of plastic waste</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic waste is a significant environmental problem worldwide, with dire consequences for both human health and the planet’s ecosystem. The effects of plastic waste are numerous, and they continue to threaten our environment.

Plastic waste pollution is a serious issue that affects the entire planet. The following sections will outline the different ways in which plastic waste impacts the environment, wildlife, and human health.
                            </p>
                            <h1>Environmental Impacts Of Plastic Waste</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic waste is harmful to the environment in several ways. Firstly, plastic waste does not decompose naturally, and it can take hundreds of years to break down, which means that plastic waste accumulates in the environment. This accumulation of plastic waste leads to the following environmental issues:

                                <h4>Soil contamination:</h4> Plastic waste can contaminate soil, making it unsuitable for agriculture, resulting in a loss of fertile land.
                                <h4>Air pollution:</h4> Burning plastic waste releases toxic fumes into the atmosphere, which can have adverse effects on human health and the environment.
                                <h4>Water pollution:</h4> Plastic waste dumped into rivers and oceans pose a significant threat to marine life, causing entanglement, ingestion, and habitat destruction.
                            </p>
                            <h1>Wildlife Impacts Of Plastic Waste</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic waste can harm wildlife in many ways. Wildlife is increasingly exposed to plastic waste, leading to the following issues:

                                <h4>Ingestion:</h4> Wildlife, including marine life, can ingest plastic waste, leading to digestive problems, starvation, and even death.
                                <h4>Habitat destruction:</h4> Plastic waste often accumulates in the natural habitats of wildlife, causing habitat destruction and interfering with the food chain.
                                <h4>Entanglement:</h4> Wildlife, including marine animals, can become entangled in plastic waste, causing physical injuries and even death.
                            </p>
                            <h3>
                            Conclusion
                            </h3>
                            <p>
                                The effects of plastic waste are clear, and they continue to pose a significant threat to our environment, wildlife, and human health. We must take action to reduce plastic waste, including recycling, reducing the use of single-use plastics, and proper disposal of plastic waste. The future of our planet depends on how we handle plastic waste. Let us make a conscious effort to reduce our plastic waste footprint and take steps towards a sustainable future.
                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "C. Plastic recycling") {
                    contentHTML = 
                    // "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>C. Plastic Recycling</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic pollution is one of the biggest environmental concerns of our time. It is estimated that over 8 million tonnes of plastic waste end up in our oceans every year, causing immense harm to marine life and ecosystems. In order to tackle this crisis, one of the key solutions is plastic recycling. In this article, we will take a closer look at plastic recycling and its benefits.
                            </p>
                            <h1>What Is Plastic Recycling?</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic recycling is the process of recovering waste plastic and transforming it into new products. This process involves collecting, sorting, cleaning and processing the plastic waste to create a raw material that can be used for manufacturing new products. The aim of plastic recycling is to reduce the amount of plastic waste that ends up in landfills and the environment, and to conserve natural resources by using recycled plastic as a substitute for virgin materials.
                            </p>
                            <h1>Benefits Of Plastic Recycling</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Plastic recycling offers a range of environmental, economic and social benefits. Firstly, it reduces the amount of plastic waste that ends up in landfills, which can take hundreds of years to decompose. By recycling plastic, we can extend the life of plastic products and reduce the need for new plastic production, which saves energy and resources.

                                Secondly, recycling plastic can also help to reduce greenhouse gas emissions. The production of new plastic products from virgin materials requires a significant amount of energy and emits large amounts of greenhouse gases. By using recycled plastic as a substitute for virgin materials, we can reduce the carbon footprint of plastic production.

                                Thirdly, plastic recycling also creates jobs and contributes to the economy. The recycling industry employs thousands of people and generates revenue through the sale of recycled plastic.


                            </p>
                        </div>
                        `;
                }else if (selectedItemContent === "D. Alternatives to plastic") {
                    contentHTML =
                    //  "<h2>" + selectedItemContent + "</h2>" +
                        `
                        <div class="sideright" id="info-container">
                            <!-- Information about the current resource will be displayed here -->
                            <h1>D. Alternatives to plastic</h1>
                            <img src="img/home_img/hero.png" alt="Plastic Image">
                            <p>
                                Plastic is a ubiquitous material that has revolutionized modern life in many ways, from packaging to construction. However, the downside of its convenience and affordability is that it has become a major environmental problem. According to a report by the World Economic Forum, there could be more plastic than fish in the ocean by 2050 if we continue to produce and dispose of plastic at the current rate. The good news is that there are many plastic alternatives available that are sustainable, eco-friendly, and can help us reduce our plastic consumption.

In this article, we will explore some of the most popular plastic alternatives and their benefits.
                            </p>
                            <h1>Glass</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Glass is one of the oldest and most widely used materials in the world. It is made from natural raw materials such as sand, soda ash, and limestone, which makes it a sustainable and eco-friendly choice. Unlike plastic, glass can be recycled infinitely without losing its quality, and it does not contain harmful chemicals such as BPA.

                                Glass is also non-reactive, which means it does not leach chemicals into the food or drink it contains. This makes it an ideal alternative for food and beverage packaging, such as bottles, jars, and containers.

                            </p>
                            <h1>Metal</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Metal is another popular alternative to plastic. It is durable, long-lasting, and can be recycled infinitely without losing its quality. Metal can be used for a variety of products, from kitchenware to building materials.

                                Aluminum, for example, is a lightweight and recyclable metal that is commonly used for beverage cans. It takes 95% less energy to recycle aluminum than to produce it from raw materials, making it a more sustainable choice.
                            </p>

                            <h1>Bioplastic</h1>
                            <img src="img/home_img/hero.png" alt="Thermosetting Plastic Image">
                            <p>
                                Bioplastics are a type of plastic made from renewable resources such as corn starch, sugarcane, or potato starch. They are designed to biodegrade more quickly than traditional plastics, reducing their environmental impact.

                                However, bioplastics also have some drawbacks. For example, some bioplastics can only be composted in industrial composting facilities, which are not available in all areas. In addition, some bioplastics still contain harmful chemicals and may not break down completely in the environment.

                            </p>

                            <h3>
                            Conclusion
                            </h3>
                            <p>
                                There are many plastic alternatives available that are sustainable, eco-friendly, and can help us reduce our plastic consumption. From glass and metal to paper, bioplastics, and natural fibers, there are many options to choose from depending on your needs and preferences. By choosing plastic alternatives, we can all play a part in reducing our environmental impact and creating a more sustainable future.
                            </p>

                        </div>
                        `;
                }else if (selectedItemContent === "C. Types of plastics") {
                    contentHTML = "<h2>" + selectedItemContent + "</h2>";

                    // Add data for each card (image, type name, and info)
                    var cardsData = [
                        { imagePath: 'img/home_img/plas/a1.jpg', typeName: 'Type 1', info: 'Information about Type 1' },
                        { imagePath: 'img/home_img/plas/a2.jpg', typeName: 'Type 2', info: 'Information about Type 2' },
                        { imagePath: 'img/home_img/plas/a3.jpg', typeName: 'Type 3', info: 'Information about Type 3' },
                        { imagePath: 'img/home_img/plas/a4.jpg', typeName: 'Type 4', info: 'Information about Type 4' },
                        { imagePath: 'img/home_img/plas/a4.jpg', typeName: 'Type 5', info: 'Information about Type 5' },
                        { imagePath: 'img/home_img/plas/a6.jpg', typeName: 'Type 6', info: 'Information about Type 6' },
                        { imagePath: 'img/home_img/plas/a7.jpg', typeName: 'Type 7', info: 'Information about Type 7' },
                        { imagePath: 'img/home_img/plas/a8.jpg', typeName: 'Type 8', info: 'Information about Type 8' },
                        { imagePath: 'img/home_img/plas/a9.jpg', typeName: 'Type 9', info: 'Information about Type 9' },
                        { imagePath: 'img/home_img/plas/a10.jpg', typeName: 'Type 10', info: 'Information about Type 10' },
                        { imagePath: 'img/home_img/plas/eco.jpg', typeName: 'Type 11', info: 'Information about Type 11' },
                        { imagePath: 'img/home_img/plas/a2.jpg', typeName: 'Type 12', info: 'Information about Type 12' },

                        // Add more cards as needed...
                    ];
                    contentHTML += "<div class='card-container'>";

                    cardsData.forEach(function (card) {
                        contentHTML += "<div class='card'>" +
                            "<img src='" + card.imagePath + "' alt=''>" +
                            "<h3>" + card.typeName + "</h3>" +
                            "<p class='inftag'>" + card.info + "</p>" +
                            "</div>";
                    });

                    contentHTML += "</div>";
                }
                // Add more conditions for other list items as needed...

                // Display the dynamically generated content in the .sideright div
                infoContainer.innerHTML = contentHTML;
            }
        });
    });


</script>







</html>