<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="third.css">


    <script src="third.js"></script>

</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/"><img class="logo" src="img/home_img/logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="join">About</a></li>
                <li><a href="seller">Sell</a></li>
                <!-- <li><a href="">Sell</a>

                </li> -->
                <ul>
                    <li>
                        <a href="#">Buy</a>
                        <ul class="sub-menu">
                            <li><a href="/#waste">Normal Buy</a></li>
                            <li><a href="/#spewaste">Special Offer</a></li>
                        </ul>
                    </li>
                </ul>
                <li><a href="appli">Awareness</a></li>
                <li><a href="/#contactuspage">Contact</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </div>
    </nav>

    <div class="first">
        <div class="ifirst">
            <h1>Discover the Uses of <br>
                Plastic Waste </h1>
            <br>
            <h5>
                Explore our collection of videos and images showcasing the innovative uses
                <br>of plastic waste.
            </h5>
        </div>




    </div>
    <div class="sec">

    </div>
    <div class="c-head">
        <div class="c-h-h">Segregated
        </div>
        <div class="c-h-w">Waste</div>

    </div>
    <br><br>
    <br><br>
    <div class="intro">
        <div class="intro1">
            <h2>high-density polyethene (HDPE), low-density polyethene (LDPE), and polypropylene (PP)</h2>
            <p>
                Friends, Madhur Rathi, Roshan Pidiyar, Bhushan Boob and Ashish Modak
                from Maharastra's Amravati are turning plastic wastes into durable and damage-proof furniture and decor
                with their venture, Econiture.
                To date, they have sold furniture equivalent to 5000 kg of plastic waste. About 60 per cent of their
                employees are women and are making a revenue of Rs 7-8 lakh per month with their venture.
            </p>
        </div>
        <div class="introbox">
            <iframe src="https://www.youtube.com/embed/BwIGGzCmTok?si=HqxQ3uEHmsJHjE1p"></iframe>

        </div>


    </div>
    <div class="intro">
        <div class="introbox">
            <iframe src="https://www.youtube.com/embed/9Rmfgt9RAI8?si=EquwDhN9m25zkKP-"></iframe>

        </div>
        <div class="intro1">
            <h2>LDPE Plastic</h2>
            <p>The recycled product in truest sense where the trees get saved from being cut and people with
                disabilities are able to earn a livelihood. Made by people with disabilities at FOD's Multi-Purpose
                Rehabilitation Centre- Unnati with two-pronged approach to go green and to help disabled people earn a
                dignified life

            </p>
        </div>




    </div>
    <div class="intro">
        <div class="intro1">
            <h2>Biodegradable plastic</h2>
            <p>Almost every part of a banana plant is used for various purposes. But its stem gets converted into waste.
                This guy found a way to use it and make bio-degradable products.

            </p>
        </div>
        <div class="introbox">
            <iframe src="https://www.youtube.com/embed/qp9CVcsgZvs?si=qWOXQvvQwwHtfTuY"></iframe>

        </div>


    </div>
    <div class="intro">
        <div class="introbox">
            <iframe src="https://www.youtube.com/embed/I-uJonA-B8E?si=T-QBlsAj1oIy7a94"></iframe>

        </div>
        <div class="intro1">
            <h2>Single-Use-Plastic and Thermocol (Polystyrene)</h2>
            <p>We usually immerse idols in open water which does not dissolve. This lady is recycling our idols of God
                in a different way and making unique things out of them. See this video for know-how.

            </p>
        </div>

    </div>





</body>

</html>