<%- include('partials/head')%>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/"><img class="logo" src="img/home_img/logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="join">About</a></li>
                <li><a href="seller">Sell</a></li>
                <!-- <li><a href="">Sell</a>

                </li> -->
                <ul>
                    <li>
                        <a href="#">Buy</a>
                        <ul class="sub-menu">
                            <li><a href="#waste">Normal Buy</a></li>
                            <li><a href="#spewaste">Special Offer</a></li>
                            <li><a href="cart1">MY cart</a></li>
                        </ul>
                    </li>
                </ul>
                <li><a href="appli">Awareness</a></li>
                <li><a href="#contactuspage">Contact</a></li>

                <li><a href="login">Login</a></li>

            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="container">
            <h1>SUSTAINABLE SOLUTIONS FOR THE FUTURE OF THE PLANET</h1>
            <p> </p>
        </div>
    </div>

    <div class="bot">
        
            <button class="chatbot-toggler">
                <span class="material-symbols-rounded">mode_comment</span>
                <span class="material-symbols-outlined">close</span>
            </button>
            <div class="chatbot">
                <header>
                    <h2>Chatbot</h2>
                    <span class="close-btn material-symbols-outlined">close</span>
                </header>
                <ul class="chatbox">
                    <li class="chat incoming">
                        <span class="material-symbols-outlined">smart_toy</span>
                        <p>Welcome to Sustaina Stars <br>How can we help you today?</p>
                    </li>
                </ul>
                <div class="chat-input">
                    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">send</span>
                </div>
            </div>
        
    </div>

    <div>
        <div class="boxes">
            <div class=" box">
                <h2 class="heading1">INDUSTRIAL
                    <h3 style="color:rgba(190, 171, 147, 0.786);">Waste Management</h3>
                </h2>
                <img class="b1" src="img/home_img/id2.png" alt="">
                <defination class="heading">
                    We offer complete industrial <br>
                    waste management services,<br>
                    from collection to recycling.
                </defination>

            </div>
            <div class=" box">
                <h2 class="heading1">SUSTAINABLE
                    <h3 style="color:rgba(190, 171, 147, 0.786);">
                        Business Solutions
                    </h3>
                </h2>
                <img class="b1" src="img/home_img/st2.png" alt="">
                <defination class="headingm">
                    We help business <br> adopt sustainable and <br>environmentally
                    responsible <br>recycling practices.
                </defination>
            </div>
            <div class=" box">
                <h2 class="heading1"> CIRCULAR <h3 style="color:rgba(190, 171, 147, 0.786);">Economy</h3>
                </h2>
                <img class="b1" src="img/home_img/cr.png" alt="">
                <defination class="heading">
                    We offer complete industrial <br>
                    waste management services,<br>
                    from collection to recycling.
                </defination>
            </div>
        </div>
        <div class="intro" id="facs">
            <div class="intro1">
                <h2>Welcome to SustainaStars</h2>
                <p>The issue of single-use plastics and diverse industrial waste is a global challenge that has reached
                    alarming proportions. Plastic waste poses a severe threat to our ecosystems and public health .So
                    here we provide a platform to enhance the Circular Economy and sustainable practices.increasing
                    environmental regulations, and growing consumer awareness about sustainable practices necessitate
                    innovative solutions for waste management.
                </p>
            </div>
            <div class="introbox">
                <iframe src="https://www.youtube.com/embed/6Wczc2ggjE4?si=AWP6QHCBqFDLE0tY"></iframe>

            </div>

        </div>

        <div class="c-head">
            <div class="c-h-h">Segregated Waste
            </div>

        </div>

        <div class="c" id="waste">
            <div class="d">
                <a href="rec">
                <div class="cc">
                    <h2 class="headingc">Recyclable Waste </h2>


                </div>
            </a>
            <a href="nonrec">
                <div class=" c2">
                    <h2 class="headingc">Non-Recyclable Waste<br></h2>


                </div>
                </a>
            </div>

        </div>
        <div class="myc" id="spewaste">
            <div class="pp">

            </div>
            <div class="lists">
                <ol class="alternate"> <!--[left]/alternate/right-->
                    <li style="--accent-color: #f0a821"><a href="pet1">PET</a></li>
                    <li style="--accent-color: #eb7326"><a href="pet2">HDPE</a></li>
                    <li style="--accent-color: #bb368f"><a href="pet3">PVC</a></li>
                    <li style="--accent-color: #6b4495"><a href="pet4">LDPE</a></li>
                    <li style="--accent-color: #229ab5"><a href="pet5">PP</a></li>
                    <li style="--accent-color: #bb368f"><a href="pet6">PS</a></li>
                    <li style="--accent-color: #6b4495"><a href="pet7">ABS</a></li>
                    <li style="--accent-color: #229ab5"><a href="pet8">NYLON</a></li>
                </ol>
            </div>
        </div>
        <div class="graph">
            <h1>Visuals</h1>
            <img src="img/home_img/graph.png" class="g1" alt="">
            <img src="img/home_img/graph2.png" class="g2" alt="">
        </div>




        <section class="container content">
            <div class="info">
                <div class="c-h-h-n">Services &
                </div>
                <div class="c-h-w-n">Solutions</div>
                <br>
                <p>We offer comprehensive recycling, industry-specific waste management, quality control &
                    sustainability
                    solutions for businesses and corporations.
                </p>

            </div>
            <!-- <div class="info">
                <h2>
                    Services & Solutions
                </h2>
                
            </div> -->
            <div class="boxes1">
                <div class=" box1">
                    <div class="ib">
                        <h3>AI Chatbot</h3>
                    </div>

                    <div class="b12">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
                <div class=" box1">
                    <div class="ib">
                        <h3>Accuracy</h3>
                    </div>

                    <div class="b121">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
                <div class=" box1">
                    <div class="ib">
                        <h3>Sustainability</h3>
                    </div>

                    <div class="b122">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
                <div class=" box1">
                    <div class="ib">
                        <h3>Community</h3>
                    </div>

                    <div class="b123">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
                <div class=" box1">
                    <div class="ib">
                        <h3>Circular Economy</h3>
                    </div>

                    <div class="b124">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
                <div class=" box1">
                    <div class="ib">
                        <h3>Video & Images</h3>
                    </div>

                    <div class="b125">

                    </div>
                    <div class="he">
                        waste material garbage, and trash from houses!
                    </div>
                    <div class="he2">
                        Know more +
                    </div>

                </div>
            </div>













        </section>
        <br><br><br> <br><br><br><br><br>








    </div>

    <div class="features">
        <section class="container12">
            <div class="center-div">
                <!-- <h2>Why you choice Us ?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged.</p> -->
            </div>


            <div class="choices">
                <div class="left-top">
                    <div class="left-top-circle">
                        <img src="img/home_img/acc2.png" alt="highquality" />
                    </div>

                    <div class="left-top-text">
                        <h3>Accuracy & Perfection</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a
                            page
                            when looking at its layout. </p>
                    </div>

                </div>


                <div class="right-top">
                    <div class="right-top-circle">
                        <img src="https://i.ibb.co/qgKNr59/backup.png" alt="backup" />
                    </div>

                    <div class="right-top-text">
                        <h3>Transparency</h3>
                        <p>All the users are provided with transparent and comparable price and product</p>
                    </div>
                </div>



                <div class="right-bottom">
                    <div class="right-bottom-circle">
                        <img src="https://i.ibb.co/Kbd0xbp/smart.png" alt="smart" />
                    </div>

                    <div class="right-bottom-text">
                        <h3>Public Awareness</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a
                            page
                            when looking at its layout. </p>
                    </div>
                </div>



                <div class="left-bottom">
                    <div class="left-bottom-circle">
                        <img src="img/home_img/ai.png" alt="customer" />
                    </div>

                    <div class="left-bottom-text">
                        <h3>24/7 AI Chatbot</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a
                            page
                            when looking at its layout. </p>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <br><br>
    <br><br><br><br><br>


    <!-- <div class="test">
        <h2>Our Testimonial</h2>
        <br>
    </div> -->
    <div class="con" id="contactuspage">
        <div class="sec">

            <div class="section-header">
                <div class="mcont">
                    <h2>Contact Us</h2>
                    <p></p>
                </div>
            </div>

            <div class="mcont">
                <div class="row">

                    <div class="contact-info">
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-home"></i>
                            </div>

                            <div class="contact-info-content">
                                <h4>Address</h4>
                                <p>PCCOE&R <br /> Ravet, Pune <br />412101</p>
                            </div>
                        </div>

                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-phone"></i>
                            </div>

                            <div class="contact-info-content">
                                <h4>Phone</h4>
                                <p>+91 9923130693</p>
                            </div>
                        </div>

                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-envelope"></i>
                            </div>

                            <div class="contact-info-content">
                                <h4>Email</h4>
                                <p>kunal.jadhav_comp21@pccoer.in</p>
                            </div>
                        </div>
                    </div>

                    <div class="contact-form">
                        <form action="" id="contact-form">
                            <h2>Send Message</h2>
                            <div class="input-box">
                                <input type="text" required="true" name="">
                                <span>Full Name</span>
                            </div>

                            <div class="input-box">
                                <input type="email" required="true" name="">
                                <span>Email</span>
                            </div>

                            <div class="input-box">
                                <textarea required="true" name=""></textarea>
                                <span>Type your Message...</span>
                            </div>

                            <div class="input-box">
                                <input type="submit" value="Send" name="">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="c-h-h-n-n">Our
        </div>
        <div class="c-h-w-n-n">Testimonials</div>
        <br>


    </div>
    <div class="test1">
        <h2>What Our Clients Say About Us</h2>
    </div>
    <br>

    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="img/home_img/first.png" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="img/home_img/second.png" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="img/home_img/third.png" style="width:100%">
            <div class="text">Caption Three</div>
        </div>


        <!-- Next and previous buttons -->

    </div>
    <div class="np"><a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>




    <br>


    <!-- The dots/circles -->
    <div style="text-align:center">

        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>


    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 ">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>PCCOE&R Ravet Pune -412101 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>+91 9923130693</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>kunal.jadhav_comp21@pccoer.in</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-1">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="img/home_img/logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>SustainaStars offer complete industrial
                                    waste management services
                                    from collection to recycling.
                                </p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <ul class="social_icon">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>

                                <li><a href="join">About Us</a></li>
                                <li><a href="#contactuspage">Contact us</a></li>
                                <li><a href="#waste">Our Gallery</a></li>
                                <li><a href="appli">Awareness</a></li>
                                <li><a href="#facs">FAQ</a></li>
                                <li><a href="seller">Sell</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023, All Right Reserved <a href="#">SustainaStars</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Add the following code if you want the name of the file appear on select
        
        const chatbotToggler = document.querySelector(".chatbot-toggler");
const closeBtn = document.querySelector(".close-btn");
const chatbox = document.querySelector(".chatbox");
const chatInput = document.querySelector(".chat-input textarea");
const sendChatBtn = document.querySelector(".chat-input span");

let userMessage = null; // Variable to store user's message
const API_KEY = "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"; // Paste your API key here
const inputInitHeight = chatInput.scrollHeight;

const createChatLi = (message, className) => {
    // Create a chat <li> element with passed message and className
    const chatLi = document.createElement("li");
    chatLi.classList.add("chat", `${className}`);
    let chatContent = className === "outgoing" ? `<p></p>` : `<span class="material-symbols-outlined">smart_toy</span><p></p>`;
    chatLi.innerHTML = chatContent;
    chatLi.querySelector("p").textContent = message;
    return chatLi; // return chat <li> element
}

const generateResponse = (chatElement) => {

    const API_URL = "https://api.openai.com/v1/chat/completions";
    const messageElement = chatElement.querySelector("p");

    // Define the properties and message for the API request
    const requestOptions = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${API_KEY}`
        },
        body: JSON.stringify({
            model: "gpt-3.5-turbo",
            messages: [{role: "user", content: userMessage}],
        })
    }

    // Send POST request to API, get response and set the reponse as paragraph text
    fetch(API_URL, requestOptions).then(res => res.json()).then(data => {
        messageElement.textContent = data.choices[0].message.content.trim();
    }).catch(() => {
        messageElement.classList.add("error");
        messageElement.textContent = "Oops! Something went wrong. Please try again.";
    }).finally(() => chatbox.scrollTo(0, chatbox.scrollHeight));
}

const handleChat = () => {
    userMessage = chatInput.value.trim(); // Get user entered message and remove extra whitespace
    if(!userMessage) return;

    // Clear the input textarea and set its height to default
    chatInput.value = "";
    chatInput.style.height = `${inputInitHeight}px`;

    // Append the user's message to the chatbox
    chatbox.appendChild(createChatLi(userMessage, "outgoing"));
    chatbox.scrollTo(0, chatbox.scrollHeight);
    
    setTimeout(() => {
        // Display "Thinking..." message while waiting for the response
        const incomingChatLi = createChatLi("Thinking...", "incoming");
        chatbox.appendChild(incomingChatLi);
        chatbox.scrollTo(0, chatbox.scrollHeight);
        generateResponse(incomingChatLi);
    }, 600);
}

chatInput.addEventListener("input", () => {
    // Adjust the height of the input textarea based on its content
    chatInput.style.height = `${inputInitHeight}px`;
    chatInput.style.height = `${chatInput.scrollHeight}px`;
});

chatInput.addEventListener("keydown", (e) => {
    // If Enter key is pressed without Shift key and the window 
    // width is greater than 800px, handle the chat
    if(e.key === "Enter" && !e.shiftKey && window.innerWidth > 800) {
        e.preventDefault();
        handleChat();
    }
});

sendChatBtn.addEventListener("click", handleChat);
closeBtn.addEventListener("click", () => document.body.classList.remove("show-chatbot"));
chatbotToggler.addEventListener("click", () => document.body.classList.toggle("show-chatbot"));


    </script>