<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ku.css">
    <!-- <script src="ku.js"></script> -->
</head>

<body>
    <nav class="nav">
        <div class="container1">
            <h1 class="logo"><a href="#"><img class="logo" src="img/home_img/logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="join">About</a></li>
                <li><a href="seller">Sell</a></li>
                <li><a href="appli">Services</a></li>
                <li><a href="/#contactuspage">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="home">
        <div class="description">

            <h1 class="title">
                <span class="gradient-text">Ready to Contribute </span> with the Best
            </h1>
            <p class="paragraph">


            </p>
            <form id="form" autocomplete="off">
                <input type="email" id="email-id" name="email_address" aria-label="email adress" placeholder="" required
                    oninput="checkEmpty()" />
                <button type="submit" class="btn" aria-label="submit">
                    <span>Get Involved</span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </button>
            </form>
        </div>

        <div class="users-color-container">
            <span class="item" style="--i: 1"></span>
            <img class="item"
                src="https://media.istockphoto.com/id/1296032714/photo/plastic-pollution.jpg?s=612x612&w=0&k=20&c=zMR1oY26QuxuS9mk2YlWSvKt8YzUn5z8rG4mLRqjtjE="
                style="--i: 2" alt="" />
            <span class="item" style="--i: 3"></span>
            <img class="item" src="https://www.cubesmart.com/blog/wp-content/uploads/Reuse1.jpg" style="--i: 4"
                alt="" />

            <img class="item"
                src="https://assets.spe.org/b0/8b/37f4dd8ac71f0c7938a37876dd86/ogf-2017-03-circulareconomy-hero-edited1.jpg"
                style="--i: 10" alt="" />
            <span class="item" style="--i: 11"></span>
            <img class="item"
                src="https://media.istockphoto.com/id/872576234/photo/rescue.jpg?s=612x612&w=0&k=20&c=53Sskdnw4l3O_Wvx6sIcvveWwSxBxT1X-kkrZg-W9Cw="
                style="--i: 12" alt="" />
            <span class="item" style="--i: 5"></span>

            <span class="item" style="--i: 9"></span>
            <img class="item"
                src="https://media.istockphoto.com/id/1199706305/photo/friends-linking-arms-in-unity.jpg?s=612x612&w=0&k=20&c=sOHOOdPG5hcNdD9BWC5vzRvRE_wS43usvWGaJLCUhu8="
                style="--i: 8" alt="" />
            <span class="item" style="--i: 7"></span>
            <img class="item"
                src="https://media.istockphoto.com/id/1145766838/photo/heart-hands.jpg?s=612x612&w=0&k=20&c=ldJo5w6WDJ-ZUNCjWU1pbk8pOKm8y3dy4FqerXLGqiI="
                style="--i: 6" alt="" />
        </div>


    </section>
    <div style="text-align:center;">
        <h1>Team Members</h1>
    </div>
    <section class="card-container" id="card-container">
        <div class="slider">
            <div class="card" data-tilt>
                <div class="content">
                    <img src="img/home_img/kunal.jpg" alt="" />
                    <h1>Kunal Jadhav-Team Leader</h1>
                    <p>
                        In my role as the team leader, I've guided our sustainability project.

                        I have spearheaded the development of a robust backend infrastructure, seamlessly integrating
                        technology with our ecological goals.
                    </p>

                </div>
            </div>



            <div class="card" data-tilt>
                <div class="content">
                    <img src="img/home_img/kashish.jpg" alt="" />
                    <h1>Kashish Mahajan- </h1>
                    <p>
                        I Kashish Mahajan while steering the team, my focus has been on extensive research, gathering
                        insightful statistics, and presenting the foundational ideas.
                    </p>

                </div>
            </div>

            <div class="card" data-tilt>
                <div class="content">
                    <img src="img/home_img/Aditya.jpeg" alt="" />
                    <h1>Aditya Gaikwad</h1>
                    <p>
                        I Aditya Gaikwad,took on the role of UI/UX professional in our sustainability project
                        Recognizing the need for sustainable solutions, I delved into the intricacies of the challenge.
                        Leveraging my expertise in UI/UX design.

                </div>
            </div>

            <div class="card" data-tilt>
                <div class="content">
                    <img src="img/home_img/kshitj.jpeg" alt="" />
                    <h1>Kshitij Patil</h1>
                    <p>
                        Kshitij Patil, a key contributor to our project played a pivotal role in shaping our initiative.
                        My curiosity about needed sustainability solutions led her to design a thoughtful system
                        architecture and create prototypes.
                    </p>

                </div>
            </div>
        </div>


    </section>

</body>